@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@200..800&family=Yatra+One&display=swap');

p,
div {
  font-family: "Dosis", sans-serif;
}

h3,
h4 {
  font-family: "Dosis", sans-serif;
}

/* --- Hide horizontal scrollbar --- */
::-webkit-scrollbar:horizontal {
  height: 0 !important;
  display: none;
}

/* --- Vertical scrollbar visible (blue) --- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* light gray */
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  /* blue scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
  /* darker blue */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}

/* Hide horizontal scrollbar but keep scroll working */
.hide-scrollbar-x {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer */
}

.hide-scrollbar-x::-webkit-scrollbar {
  height: 0px;
  /* Hide horizontal scrollbar */
  display: none;
  /* Safari & Chrome */
}