@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@200..800&family=Yatra+One&display=swap');

p,
div {
  font-family: "Dosis", sans-serif;
}

h3,
h4 {
  font-family: "Dosis", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE 10+ */
}